<footer>
  <a href="mailto:growababy@gmail.com"><i class="fa fa-envelope"></i></a>
  <a href="https://instagram.com/adoralevin/"><i class="fa fa-instagram fa-lg"></i></a>
  <a href="https://www.facebook.com/Adora-Art-Project-Fan-Club-837747369619420"><i class="fa fa-facebook fa-lg"></i></a>
  <a href="https://twitter.com/AdoraLevin"><i class="fa fa-twitter fa-lg"></i></a>
  <a href="https://www.youtube.com/user/growabrain"><i class="fa fa-youtube fa-lg"></i></a>
  <a href="https://vimeo.com/user27307021"><i class="fa fa-vimeo fa-lg"></i></a>
  <a href="https://soundcloud.com/adorasdad"><i class="fa fa-soundcloud fa-lg"></i></a>
  <a href="https://www.flickr.com/photos/60289418@N03/favorites/"><i class="fa fa-flickr fa-lg"></i></a>
  <a href="http://abcbanana123.deviantart.com/favourites/"><i class="fa fa-deviantart fa-lg"></i></a>    


  <p>© Adora Levin 2015</p>
</footer>