<footer>

  <a href="https://instagram.com/adoralevin/"><i class="fa fa-instagram"></i></a>
  <a href="https://www.facebook.com/Adora-Art-Project-Fan-Club-837747369619420"><i class="fa fa-facebook"></i></a>
  <a href="https://twitter.com/AdoraLevin"><i class="fa fa-twitter"></i></a>
  <a href="https://www.youtube.com/user/growabrain"><i class="fa fa-youtube"></i></a>
  <a href="https://vimeo.com/user27307021"><i class="fa fa-vimeo"></i></a>
  <a href="https://soundcloud.com/adorasdad"><i class="fa fa-soundcloud"></i></a>
  <a href="https://www.flickr.com/photos/60289418@N03/favorites/"><i class="fa fa-flickr"></i></a>  

</footer>