<div class="home">

  <h1>Hi, I'm Adora.</h1>

</div>

<div class="video-container">
  <iframe src='https://www.youtube.com/embed/qy8QRjEefJo' allowfullscreen></iframe>
</div>


<p class="tagline">
  I want to help kids that are less fortunate than me -
</p>

<div>
  <div class="about">

    <p>
      I am a 5 year old girl from California. <br />
      Many artists have created artworks of me. <br />
      I'm not sure why, but many of them are cool. 

    </p>
    <p>

      I am very lucky, and I am usually a happy child. <br />
      But I know that there are many kids who have difficult lives: <br />
      They don't have food to eat, no home to sleep at night,  <br />
      and no way to have fun and be creative. 

    </p>
    <p>

      
      So now, together with the artists, we are selling my art,  <br />
      and helping children who never had opportunities like me. 

    </p>
    <p>
      
      
      You too can help by buying an artwork that you like.

    </p>
    <p>
      
      Thank you,  <br />
      From Adora.
    </p>

  </div>

</div>