<div class="home">

  <h1>Welcome to Adora's website</h1>

</div>

<div class="video-container">
  <iframe src='https://www.youtube.com/embed/qy8QRjEefJo' allowfullscreen></iframe>
</div>


<p class="tagline">
  Discover thousands of original artworks inside.
</p>

<div>
  <div class="about">

    <p>
      

      Adora is a 6 year old girl, living in Southern California. When she was born, her dad started posting photos of her life on a daily blog.

    </p>
    <p>
      
      Since then, Adora has emerged as an inspiration for thousands of artists & musicians worldwide who use her images & words to create impressive art.

    </p>
    <p>
      
      
      The unique Adora Project now include many sub­sites filled with music, books, art, food, fashion and more.

    </p>
    <p>
      
      As she grows up, Adora is developing her own personality & interests. She likes to write songs (and even had her first book
      published), to cook & bake, and to have fun like all young kids. But she also cares about others, and a non­profit
      organization in her name was set up to help disadvantaged children.

    </p>
    <p>
      
      Explore the extensive archives inside & lose yourself in beautiful images, ideas & love.

      
    </p>


  </div>

</div>