<div class="home">

  <h1>Hi, I'm Adora</h1>

  <div class="video-container">
    <iframe src='https://www.youtube.com/embed/qy8QRjEefJo' allowfullscreen></iframe>
  </div>

  <p class="tagline">
    I Want To Help Kids That Are Less Fortunate Than Me.
  </p>


  <div class="about">
    <p>
      I Am 5 Years Old. Since I Was Born, Over 1,000 Artists Have Created Artworks Of Me: I’M Not Sure Why, But Many Of Them Are Cool.
    </p>
    <p>
    I Am Very Lucky: I Write Funny Songs With My Dad, I Cook Delicious Food, I Climb Rocks And I Run Foot Races.
    </p>
    <p>
      But I Know That There Are Many Kids Who Have Difficult Lives. They Don’T Have Food To Eat, No Safe Place To Sleep At Night, And No Way To Have Fun And Be Creative.
    </p>
    <p>
      So Now, Together With The Artists, I Am Selling My Art, And Helping Children Who Never Had Opportunities Like Me.
    </p>
    <p>
      You Too Can Help By Buying An Artwork You Like.      
    </p>
    <p>
      Thank You, From Adora.
    </p>

  </div>

</div>