<div class="home">

  <h1>Hi, I'm Adora</h1>

  <div class="video-container">
    <iframe src='https://www.youtube.com/embed/qy8QRjEefJo' frameborder='0' allowfullscreen></iframe>
  </div>

  <p>
    I Want To Help Kids That Are Less Fortunate Than Me.
  </p>

</div>