{{!< default}}

{{#post}}

    {{> post-meta}}

    {{> title}}

    <div class="index">
      {{> excerpts}}
    </div>

    
{{! Temporary indentation shift for Handlebars issue }}
{{> content}}



{{> search}}

{{> results}}


{{/post}}

{{> footer}}    

