{{!< default}}

{{#post}}

  {{> post-meta}}

  <div class="container">
    <div class="page give">
      {{! Temporary indentation shift for Handlebars issue }}
      {{> content}}
    </div>      
  </div>  
{{/post}}

{{> footer}}    