{{!< default}}
  
{{#tag}}
  <img class="music-logo" src="{{image}}" />
  <h2>{{description}}</h2>
  <p>
    When Adora was 4 years old, we started composing little songs together. <br />
    In the past 18 months, we wrote about 40 songs, and published one book. <br />
    Many of these songs had been put to music by musicians from around the world. <br />
    The song “Opposites“ was interpreted in 9 different styles. <br />
    Which is your favorite version?
  </p>
{{/tag}}

{{> list}}

<p>
  Listen to the all of the Adora's songs <a href="https://soundcloud.com/adorasdad">Here</a>. <br />
  Read all the songs that Adora wrote <a href="http://growabrain.tumblr.com/tagged/songs-we-wrote">Here</a>. <br />
  Buy Adora's first book of songs <a href="http://www.amazon.com/Songs-Five-Year-Hanan-Levin/dp/1312715995/">Here</a>.
  
</p>


{{> footer}}



