{{!< default}}
  
{{#tag}}
  <img class="music-logo" src="{{image}}" />
  <h2>{{description}}</h2>
  <p>
    When Adora was 4 years old, we started composing little songs together. <br />
    In the past 18 months, we wrote about 40 songs, and published one book. <br />
    Many of these songs had been put to music by musicians from around the world. <br />
    The song “Opposites“ was interpreted in 9 different styles. <br />
    Which is your favorite version?
  </p>
{{/tag}}

{{> list}}

<p>
  Listen to the all of the Adora's songs <a href="https://soundcloud.com/adorasdad">Here</a>. <br />
  Read all the songs that Adora wrote <a href="http://growabrain.tumblr.com/tagged/songs-we-wrote">Here</a>. <br />
  Buy Adora's first book of songs <a href="http://www.amazon.com/Songs-Five-Year-Hanan-Levin/dp/1312715995/">Here</a>.
  
</p>

<div class="lyrics">

  <p>
    An old dad, a young mom, <br />

    The one stayed, the other gone. <br />

    A dark hole, a bright sun, <br />

    A pretty daughter is so much fun.

  </p>
  <p>

    A long road, a fast car <br />

    The sky and moon, they are so far. <br />
    
    Today we’re here, <br />

    Tomorrow there <br />

    We’re waiting for the ones who care.

  </p>
  <p>

    
    A paper cup, a metal spoon <br />

    A lonely cat, a bride and groom. <br />

    A glass of milk, a cup of tea. <br />

    I love that you are here with me!

  </p>
</div>

{{> footer}}



